h1{
    color: blue;
}
h1:hover{
    color:black;
}
table {
    border-collapse: collapse;
  /*   color:blue */
  }
  thead{
    color:whitesmoke;
    position:sticky;
  }
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    position:relative;
  }
  tbody tr:nth-child(odd){
    background: #eee;
  }
th {
  background: yellowgreen;
  position: sticky;
  top: 0;
}

.resize {
  width: 15px;
  height: auto;
}